<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="innerBeanModelOnlySingleton" class="org.springframework.samples.model.InnerBeanModel">
        <qualifier type="org.springframework.samples.ioc.annotation.annotation.based.fine.turning.CustomQualifier"
                   value="innerBeanModelSingletonCustomQualifier"/>
    </bean>

    <bean id="plainModelOnlyOneSingleton" class="org.springframework.samples.model.PlainModelOne">
        <qualifier value="plainModel"/>
    </bean>

    <bean id="plainModelOnlyTwoSingleton" class="org.springframework.samples.model.PlainModelTwo">
        <qualifier value="plainModel"/>
    </bean>

    <bean id="plainModelOnlyThreeSingleton" class="org.springframework.samples.model.PlainModelThree">
        <qualifier value="plainModel"
                   type="org.springframework.samples.ioc.annotation.annotation.based.fine.turning.CustomQualifierWithoutValue"/>
    </bean>

    <bean id="plainModelFourOnlyFourSingleton"
          class="org.springframework.samples.model.PlainModelFour">
        <qualifier
                type="org.springframework.samples.ioc.annotation.annotation.based.fine.turning.CustomAutowireConfigurerQualifier"
                value="customAutowiredConfigurer"/>
    </bean>

    <bean id="autowiredCollectionMapArrayWithoutOrdersBean"
          class="org.springframework.samples.ioc.annotation.annotation.based.autowired.AutowiredCollectionMapArrayWithOrdersBean"/>

    <bean id="stringGenericPlainModelOne" class="org.springframework.samples.model.StringGenericPlainModelOne"/>
    <bean id="integerGenericPlainModelOne" class="org.springframework.samples.model.IntegerGenericPlainModelOne"/>


</beans>