<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd ">

    <!-- SpringMVC annotation HandlerMapping -->
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>

    <!-- SpringMVC annotation HandlerAdapter -->
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"/>

    <bean class="org.andy.springmvc.annotation.controller.IndexController"/>

    <bean class="org.andy.springmvc.annotation.controller.ClassRequestMappingController"/>

    <bean class="org.andy.springmvc.annotation.controller.UrlMappingRuleController"/>

    <bean class="org.andy.springmvc.annotation.controller.MethodTypeMappingController"/>

    <bean class="org.andy.springmvc.annotation.controller.ParametersMappingController"/>

    <bean class="org.andy.springmvc.annotation.controller.RequestHeaderMappingController"/>

    <bean class="org.andy.springmvc.annotation.controller.MethodParamTypeController"/>

    <bean class="org.andy.springmvc.annotation.controller.RequestParamAnnotationController"/>

    <bean class="org.andy.springmvc.annotation.controller.PathVariableAnnotationController"/>

    <bean class="org.andy.springmvc.annotation.controller.CookieAnnotationController"/>

    <bean class="org.andy.springmvc.annotation.controller.RequestHeaderAnnotationController"/>

    <bean class="org.andy.springmvc.annotation.controller.ShowFormController"/>

    <bean class="org.andy.springmvc.annotation.controller.ModelAttributeAnnotationController"/>
</beans>


