<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Instantiate PlainModels -->
    <import resource="../../public/spring-public-model-instantiation.xml"/>

    <!-- Something mistake , stash
    <bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="customEditors">
            <map>
                <entry key="java.util.Date">
                    <bean class="org.springframework.samples.data.transfer.CustomDatePropertyEditor">
                        <property name="formatter" value="yyyy-mm-dd"/>
                    </bean>
                </entry>
            </map>
        </property>
    </bean>

    <bean id="setterInjectionBean" class="SetterInjectionBean">
        <property name="plainModelOne" ref="plainModelOnePrototype"/>
        <property name="date" value="2015-1-24"/>
        <property name="string" value="strOne"/>
    </bean>
    -->

    <!-- Normal setter injectionBean -->
    <bean id="setterInjectionBean"
          class="org.springframework.samples.ioc.schema.injection.setter.SetterInjectionBean">
        <property name="plainModelOne" ref="plainModelOnePrototype"/>
        <property name="string" value="strOne"/>
    </bean>

    <!-- Collection injection, such as Set, List, Collection -->
    <bean id="collectionInjectionBean"
        class="org.springframework.samples.ioc.schema.injection.setter.CollectionInjectionBean">
        <property name="list">
            <list value-type="org.springframework.samples.model.AbstractPlainModel">
                <ref bean="plainModelOnePrototype"/>
            </list>
        </property>
        <property name="set">
            <set value-type="java.lang.Object">
                <value>strTwo</value>
                <ref bean="plainModelTwoPrototype"/>
            </set>
        </property>
    </bean>

    <!-- Map injection -->
    <bean id="mapInjectionBean"
          class="org.springframework.samples.ioc.schema.injection.setter.MapInjectionBean">
        <property name="map">
            <map key-type="java.lang.String" value-type="java.lang.Object">
                <entry key="stringOne" value="strOne"/>
                <entry key="plainModelOne" value-ref="plainModelOnePrototype"/>
                <!-- Could be instead of below section configuration: -->
                <!--<entry key="plainModelTwoSingleton"> <ref bean="plainModelTwoPrototype"/> </entry>-->
                <entry key="plainModelTwoSingleton" value-ref="plainModelTwoPrototype"/>
                <entry key="plainModelThree">
                    <bean class="org.springframework.samples.model.PlainModelThree"/>
                </entry>
            </map>
        </property>
    </bean>

    <!-- Properties Injection -->
    <bean id="propertiesInjectionBean"
          class="org.springframework.samples.ioc.schema.injection.setter.PropertiesInjectionBean">
        <property name="properties">
            <!-- value-type does not work, all key and value type are java.lang.String -->
            <props value-type="Object">
                <prop key="stringOne">strOne</prop>
                <prop key="plainModelOne">plainModelOne</prop>
            </props>
        </property>
    </bean>

    <!-- Array injection -->
    <bean id="arrayInjectionBean"
          class="org.springframework.samples.ioc.schema.injection.setter.ArrayInjectionBean">
        <property name="objects">
            <array value-type="java.lang.Object">
                <value type="int">1</value>
                <ref bean="plainModelOnePrototype"/>
            </array>
        </property>
        <property name="objs">
            <array>
                <array>
                    <value>2</value>
                </array>
                <array>
                    <ref bean="plainModelTwoPrototype"/>
                </array>
            </array>
        </property>
    </bean>
</beans>