<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- String null and empty value injection -->
    <bean id="emptyAndNullStringValueBean"
          class="org.springframework.samples.ioc.schema.injection.emptyandnull.string.EmptyAndNullStringValueBean">
        <property name="nullValue">
            <null/>
        </property>
        <property name="emptyValue" value=""/>
    </bean>
</beans>