<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--<context:property-placeholder location="property-placeholder-configurer.properties"/>-->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:properties/property-placeholder-configurer.properties"/>

        <!--<property name="properties">
            <value>propertyPlaceholderConfigurerModel=org.springframework.samples.ioc.schema.container.extension.PropertyPlaceholderConfigurerModel</value>
        </property>-->
    </bean>

    <bean id="propertyPlaceholderConfigurerModel"
          class="org.springframework.samples.ioc.schema.container.extension.PropertyPlaceholderConfigurerModel">
        <!--class="${propertyPlaceholderConfigurerModel}">-->
        <property name="intOne" value="${propertyPlaceholderConfigurerModel.intOne}"/>
        <property name="booleanOne" value="${propertyPlaceholderConfigurerModel.booleanOne}"/>
        <property name="floatOne" value="${propertyPlaceholderConfigurerModel.floatOne}"/>
        <property name="strOne" value="${propertyPlaceholderConfigurerModel.strOne}"/>
    </bean>


</beans>