<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="../../public/spring-public-model-instantiation.xml"/>

    <!-- The idref element is simply an error-proof way to pass the id (string value - not a reference) of another bean
         in the container to a <constructor-arg/> or <property/> element. -->
    <bean id="idrefInjectionBean" class="org.springframework.samples.ioc.schema.injection.idref.IdrefInjectionBean">
        <!-- could not assigned idref , idref value is null. Stash. -->
        <property name="idref">
            <idref bean="plainModelOnePrototype"/>
        </property>
        <property name="id" value="plainModelOnePrototype"/>
    </bean>
</beans>