<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Singleton bean have not circular dependency issue. -->
    <bean id="cda"
          class="org.springframework.samples.ioc.schema.injection.issue.circular.CircularDependencyASingleton">
        <!--<constructor-arg ref="cdb"/>-->
        <property name="circularDependencyBSingleton" ref="cdb"/>
    </bean>

    <bean id="cdb"
          class="org.springframework.samples.ioc.schema.injection.issue.circular.CircularDependencyBSingleton">
        <!--<constructor-arg ref="cda"/>-->
        <property name="circularDependencyASingleton" ref="cda"/>
    </bean>


    <!--This configuration will throw BeanCurrentlyInCreationException as constructor injection circular dependency,
        the prototype Bean will not be cached in spring container when it is created. -->
    <bean id="cdaPrototype"
          class="org.springframework.samples.ioc.schema.injection.issue.circular.CircularDependencyAPrototype"
          scope="prototype">
        <property name="circularDependencyBPrototype" ref="cdbPrototype"/>
    </bean>

    <bean id="cdbPrototype"
          class="org.springframework.samples.ioc.schema.injection.issue.circular.CircularDependencyBPrototype"
          scope="prototype">
        <property name="circularDependencyAPrototype" ref="cdaPrototype"/>
    </bean>
</beans>