<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="spring-ioc-annotation-parent.xml"/>
    <import resource="../../public/spring-public-model-instantiation.xml"/>
    <import resource="../../public/spring-public-model-singleton-instantiation.xml"/>

    <bean id="genericQualifierImplicitBean"
          class="org.springframework.samples.ioc.annotation.annotation.based.generic.qualifier.GenericQualifierImplicitBean"/>
</beans>