<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd ">

        <!-- HandlerMapping -->
        <bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>
        <!-- HandlerAdapter -->
        <bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"/>

        <!-- HandlerAdapter adapter /hello url to HelloSchemaController -->
        <bean name="/hello" class="org.andy.springmvc.schema.controller.HelloSchemaController"/>

        <bean name="/helloAbstractController"
              class="org.andy.springmvc.schema.controller.HelloSchemaControllerExtendsAbstractController"/>

        <bean name="/helloWithoutModelAndView"
               class="org.andy.springmvc.schema.controller.HelloSchemaAbstractControllerWithoutModelAndView"/>

    <bean name="/helloOnlyPostMethod"
          class="org.andy.springmvc.schema.controller.HelloSchemaOnlyPostController">
        <!-- Only support POST -->
        <property name="supportedMethods" value="POST"/>
        <!-- Session must exist when this request reach the specified controller -->
        <property name="requireSession" value="true"/>
    </bean>

    <!-- Control browser cache time -->
    <bean name="/helloCacheSeconds"
          class="org.andy.springmvc.schema.controller.HelloSchemaCacheTimeController">
        <property name="cacheSeconds" value="5"/>
    </bean>

    <!-- LastModified in spring -->
    <bean name="/helloLastModified"
          class="org.andy.springmvc.schema.controller.HelloSchemaLastModifiedController"/>
</beans>
