<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd ">

        <!-- Basic schema model configuration -->
        <import resource="spring-parent-applicationContext.xml"/>
        <import resource="schema/spring-schema-applicationContext.xml"/>

</beans>
