<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd ">

    <!-- ViewResolver -->
    <import resource="spring-parent-applicationContext.xml"/>

<!--############################### SpringMVC Basic schema model configuration ######################################-->
    <!-- Basic controller example -->
    <!--<import resource="schema/spring-schema-applicationContext.xml"/>-->

    <!-- HandlerInterceptor example -->
    <!--<import resource="schema/spring-schema-handlerInterceptor-applicationContext.xml"/>-->
<!--#################################################################################################################-->

<!--############################## SpringMVC annotation model configuration #########################################-->
    <import resource="classpath:/spring/annotations/spring-annotation-applicationContext.xml"/>

</beans>
