<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Global lazy init setting -->
    <!-- <beans... default-lazy-init="true">-->

    <!-- default lazy-init:false -->
    <bean id="noLazyBean" class="org.springframework.samples.ioc.lazy.init.NoLazyBean"
           autowire-candidate="false">
        <property name="lazyInitBean" ref="lazyBean"/>
    </bean>

    <!--lazy init bean: it will be init when someone need it. -->
    <bean id="lazyBean" class="org.springframework.samples.ioc.lazy.init.LazyInitBean" lazy-init="true"/>
</beans>