<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <bean class="org.springframework.samples.annotations.SimpleMovieListerAnnotation">
        <!--<property name="movieFinder" ref="movieFinder"/>-->
    </bean>

    <bean id="movieFinder" class="org.springframework.samples.annotations.MovieFinder"/>

    <bean class="org.springframework.samples.annotations.MovieRecommender"/>
    <bean id="movieCatalogOne" class="org.springframework.samples.annotations.MovieCatalog">
        <qualifier value="movieCatalogOne"/>
    </bean>
    <bean id="movieCatalogTwo" class="org.springframework.samples.annotations.MovieCatalog">
        <qualifier value="movieCatalogTwo"/>
    </bean>
    <bean id="movieCatalogThree" class="org.springframework.samples.annotations.MovieCatalog">
        <qualifier value="movieCatalogThree"/>
    </bean>
    <bean class="org.springframework.samples.annotations.CustomerPreferenceDao"/>

    <bean class="org.springframework.samples.annotations.MultipleAutoaware"/>

    <bean class="org.springframework.samples.annotations.QualifierAnnotation"/>
</beans>