<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="innerBeanModelSingleton" class="org.springframework.samples.model.InnerBeanModel"/>

    <bean id="plainModelOneSingleton" class="org.springframework.samples.model.PlainModelOne" primary="true"/>

    <bean id="plainModelTwoSingleton" class="org.springframework.samples.model.PlainModelTwo">
        <property name="innerBeanModel" ref="innerBeanModelSingleton"/>
    </bean>

    <bean id="plainModelThreeSingleton" class="org.springframework.samples.model.PlainModelThree"/>

    <bean id="autowiredCollectionMapArrayWithoutOrdersBean"
          class="org.springframework.samples.ioc.annotation.autowired.AutowiredCollectionMapArrayWithOrdersBean"/>
</beans>