<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="spring-public-model-instantiation.xml"/>

    <!-- Compound property names, not recommend if necessary -->
    <bean class="org.springframework.samples.ioc.schema.injection.compound.property.CompoundPropertyBean">
        <property name="plainModelTwoSingleton" ref="plainModelTwoSingleton"/>
        <property name="plainModelTwoSingleton.innerBeanModel.innerBeanModelStr" value="string"/>
    </bean>
</beans>