<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

        <!--<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd"
        default-lazy-init="true">-->

    <!-- no lazy bean and without andy dependencies -->
    <!--<bean id="noLazyBean" class="org.springframework.samples.ioc.NoLazyBean"/>-->
     <!--no lazy bean with a lazy dependency -->
    <bean id="noLazyBean" class="org.springframework.samples.ioc.NoLazyBean" autowire-candidate="false">
        <property name="lazyInitBean" ref="lazyBean"/>
    </bean>

    <!--lazy init bean -->
    <bean id="lazyBean" class="org.springframework.samples.ioc.LazyInitBean" lazy-init="true"/>
</beans>