<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 12 names of AliasByNamePropertyBean instance -->
    <bean id="aliasByNamePropertyBeanOne"
          class="org.springframework.samples.ioc.schema.alias.AliasByNamePropertyBean"
          name="aliasByNamePropertyBeanNameOne,aliasByNamePropertyBeanNameTwo,aliasByNamePropertyBeanNameThree"/>

    <bean id="aliasByNamePropertyBeanTwo"
          class="org.springframework.samples.ioc.schema.alias.AliasByNamePropertyBean"
          name="aliasByNamePropertyBeanNameFour;aliasByNamePropertyBeanNameFive;aliasByNamePropertyBeanNameSix"/>

    <bean id="aliasByNamePropertyBeanThree"
          class="org.springframework.samples.ioc.schema.alias.AliasByNamePropertyBean"
          name="aliasByNamePropertyBeanNameSeven aliasByNamePropertyBeanNameEight aliasByNamePropertyBeanNameNigh"/>

    <!-- 12 names of AliasBean instance -->
    <bean name="aliasBean" class="org.springframework.samples.ioc.schema.alias.AliasBean"/>
    <alias name="aliasBean" alias="aliasBeanOne"/>
    <alias name="aliasBean" alias="aliasBeanTwo"/>

    <!-- Default name of WithoutIdBean -->
    <bean class="org.springframework.samples.ioc.schema.alias.WithoutIdBean"/>
</beans>